body {
  background-color: #e1e4e8;
  height: auto;
  width: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Home */
.home-wrapper {
  margin-top: 10%;
}

.home h1 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1d3557;
}

.btn-home {
  margin-top: 6%;
}

.btn-home .btn {
  background-color: #1d3557;
  color: white;
  font-size: 25px;
  width: 280px;
  padding: 9px 44px;
  margin: 0px 35px;
}

.dropdown-menu {
  width: 280px;
  background-color: #f1faee !important;
}

.dropdown-menu a {
  color: #1d3557 !important;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dropdown-item:hover {
  color: #f1faee !important;
  text-decoration: none;
  background-color: #1d3557;
}
.logo-btm {
  width: 20%;
}
/* End Login */

/* Login and Register */
.btn-login2 {
  width: 100px;
  margin: 38px 0px 0px 10px;
}
.login-panels {
  margin-top: 80px;
}

/* HOME */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 70px 0px;
  background-color: #005377;
  box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.1);
}
.sidebar .nav-link.active {
  color: #005377;
  background-color: rgb(239, 239, 239);
}
.sidebar .nav-link {
  font-weight: 500;
  color: rgb(239, 239, 239);
}
.nav-link {
  display: block;
  padding: 0.75rem 2rem;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.sidebar .nav-link:hover {
  margin-right: 2px;
  color: rgb(255, 255, 255);
}
.sidebar .nav-link.active:hover {
  margin-right: 2px;
  color: #005377;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.navbar {
  height: 60px;
}

.main {
  margin-top: 80px;
}

.main h3 {
  font-weight: 700;
}
/* End Home */

/* Table */
.table {
  margin-bottom: 0px;
}
/* End Table */

/* Input Project */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 254, 254);
  border: 2px solid #acacac;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(255, 255, 255);
  border: 2px solid #7e7e7e;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
  border: 2px solid #005377;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #005377;
}
/* End Input Project */
